@import "ui-variables";

.gde-editor {
  background-color: @inset-panel-background-color;
  overflow: auto;

  .gde-container {
    height:100%;
    width: 100%;

    .inset-panel {
      border-width: 0;

      .panel-heading {
        border-radius: 0;
      }
    }

    .gde-tree {
      padding: 5px;
    }

    .image-container {
      height: 100%;
      width: 100%;
      padding: 10px;
      display: table;

      .image-cell {
        text-align: center;
        display: table-cell;
        vertical-align: middle;

        img {
          box-sizing: content-box;
          border: 1px solid #FFF;
          // background: #fff url(atom://image-view/images/transparent-background.png) right bottom;
          box-shadow: #999 0 0 0 1px;
          position: relative;
          max-width: none;
        }
      }
    }

    .audio-container {
      height: 100%;
      width: 100%;
      padding: 10px;
      display: table;

      .audio-cell {
        text-align: center;
        display: table-cell;
        vertical-align: middle;

        audio {
          width: 50%;
        }
      }
    }

    .model-container {
      height: 100%;
      width: 100%;
      padding: 10px;
      display: block;

      .model-cell {
        height: 100%;
        width: 100%;
        display: block;

        .model {
          height: 100%;
          width: 100%;
          display: block;
        }
      }
    }

    .hex-container {
      font-family: monospace;
      width: 100%;
      height: 100%;
      padding: @component-padding;
      background: @syntax-background-color;
      overflow: auto;
      display: flex;
      white-space: nowrap;
      -webkit-user-select: none;

      .hex-controls {
        order: 2;
        flex: auto;
      }

      .hex-contents {
        order: 1;
        flex: none;
        height: 100%;

        .hex-line {
          display: block;
        }

        .hex-metric {
          visibility: hidden;
          position: absolute;
        }

        .hex-offset {
          display: inline;
          vertical-align: middle;
          margin-right: 10px;

          color: @syntax-gutter-text-color;
          background: @syntax-gutter-background-color;
        }

        .hex-overlay-group {
          border: 1px solid @syntax-gutter-text-color;
          border-radius: 4px;
          margin: 5px 25px 5px 10px;
          padding: 5px;

          .hex-text {
            display: inline-block;
            margin-right: 5px;
            margin-left: 5px;
          }
        }

        .hex-bytes {
          display: inline-block;
          margin-right: 10px;
          color: @syntax-text-color;
          background: @syntax-background-color;

          .hex-byte {
            display: inline;
            vertical-align: middle;
            padding: 2px 3px 2px 3px;
          }

          .generate-colors(255);
          .generate-colors(@n, @i: 0) when (@i =< @n) {
            .color-@{i} {
              color: spin(@syntax-text-color, floor(@i * 360 / 256));
              background-color: spin(@syntax-background-color, floor(@i * 360 / 256));
            };
            .generate-colors(@n, (@i + 1));
          }

          .cursor {
            padding-bottom: 0px;
            border-bottom-width: 2px;
            border-bottom-style: solid;
            border-bottom-color: @syntax-cursor-color;
            background-color: @syntax-selection-color
          }
        }

        .hex-chars {
          display: inline-block;
          margin-right: 10px;
          color: @syntax-gutter-text-color;
          background: @syntax-gutter-background-color;

          .hex-char {
            display: inline;
            vertical-align: middle;
            padding: 2px 0 2px 0;
          }

          .cursor {
            padding-bottom: 0px;
            border-bottom-width: 2px;
            border-bottom-style: solid;
            border-bottom-color: @syntax-cursor-color;
            background-color: @syntax-selection-color
          }
        }
      }
    }
  }
}
